footer{
	text-align: center;
	border: 3px solid rgb(26, 25, 25);
}

.div-footer {
	display: flex;
	justify-content: center;
}

.a-footer {
	text-decoration: none;
	border: 3px solid white;
    background-color: white;
	gap: 9px;
}

.p-parrafo {
	margin: 30px;
}