.body-index{
    background-color: #24262b;
}

.navBar-inicio{
	display: flex;
	justify-content: center;
}

.navBar-letras{
    font-size: 20px;
}

.img-navbar{
    width: 40px;
}

img{
	width: 400px;
}

.div1{
    background-color: black;
}

p{
    color: white;
}

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.copy {
	color: white;
}