.body-menu {
	background-color: #24262b;
}

.contenedor{
	display: flex;
	justify-content: center;
}

.card1 {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 20px;
}

.card1 .face{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 10px;
	overflow: hidden;
	transition: .5s;
}

.card1 .front{
	transform: perspective(600px) rotateY(0deg);
	box-shadow: 0 5px 10px rgb(0, 0, 0);
}

.card1 .front img{
    width: 15rem;
	height: 13rem;
	margin: 29px;
}


.card1 .front h3{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: #fff;
	background: #24262b;
	text-align: center;
}

.card1 .back {
	transform: perspective(600px) rotateY(100deg);
	background: #24262b;
	padding: 15px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	box-shadow:0 5px 10px rgb(0, 0, 0);
}

.card1 .back .link {
	border-top: solid 1px white;
	height: 50px;
	line-height: 50px;
}

.card1 .back .link a {
	color: #fff;
}

.card1 .back h3 {
	font-size: 30px;
	margin-top: 20px;
	letter-spacing: 2px;
}

.card1 .back p {
	letter-spacing: 1px;
}

.card1:hover .front {
	transform: perspective(600px) rotateY(180deg);
}

.card1:hover .back {
	transform: perspective(600px) rotateY(360deg);
}

